main{ display: flex;
flex-flow: row wrap;
flex-basis: calc(100% / 5 * 4 - 10px);
margin: 5px;}

aside{ flex-basis: calc(100% / 5 - 10px);
margin-top: 10px;
margin-bottom: 10px;
border: 2px dashed black;}

button {display: block;
    margin: auto;
    background-color: lightgreen;
height: 30px;
width: 100px;
border-radius: 5px 5px 5px 5px;}

form{
    background-color: yellowgreen;
    border-radius: 30px 30px 30px 30px;
    margin: 5px;
}

    /* CLASSES */
.flex {display: flex;}

.moleHole {height: 100px;
flex-basis: calc(100% / 5 - 15px);
margin: 5px;
border: 2px solid black;}

.mole {background-color: green;}

.badMole {background-color: red;}

.text-center {text-align: center;}

.easyMode{
    background-color: yellowgreen;
}

.hardMode{
    background-color: lightcoral;
}
.bg-blue{background-color: lightskyblue;
height: 107px;}
.bg-green{background-color: lightgreen;}
