main{ display: flex;
flex-flow: row wrap;
flex-basis: calc(100% / 5 * 4 - 10px);
margin: 5px;}

aside{ flex-basis: calc(100% / 5 - 10px);
border: 2px solid black;}

button {display: block;
    margin: auto;
    background-color: lightgreen;}

    /* CLASSES */
.flex {display: flex;}

.moleHole {height: 100px;
flex-basis: calc(100% / 5 - 15px);
margin: 5px;
border: 2px solid black;}

.mole {background-color: green;}

.badMole {background-color: red;}

.text-center {text-align: center;}

